<template>
<!-- Die ausgewählte chart von Apexcharts zeigt alle Preise, die sich in der Liste befindenen Cryptowährungen an.
(Die jeweiligen Preise bzw. Preisänderungen werden von Tag "heute" bis "sieben Tage zuvor" angezeigt) -->
<apexchart :id="'chart-'+this.$data.id" :series="series" :height="400" :options="chartOptions"/>

</template>

<script>
import ApexChartsVue from 'vue-apexcharts'
import ApexChartDataHelper from '../definitions/apexChartsDataFunction'

// Für den Fall dass es mehrere Charts gibt kann so jedem Chart ein eigener Index vergeben werden.
let currentId = 0

function getNextId () {
	return currentId++
}

export default {
	name: 'Chart',
	props: {
		coinDataArray: Array,
		currency: String
	},

	mounted: function () {
		this.$data.id = getNextId()
	},

	components: {
		apexchart: ApexChartsVue
	},

	methods: {
	},
	// Verwendet Ausschnitte von Beispielcode auf der Dokumentation von ApexCharts
	// https://apexcharts.com/vue-chart-demos/line-charts/basic/ sowie https://apexcharts.com/javascript-chart-demos/area-charts/datetime-x-axis/
	data: function () {
		return {
			series: [],
			chartEntry: null,
			id: -1,
			chartOptions: {
				chart: {
					type: 'area',
					stacked: false,
					height: 350,
					zoom: {
						type: 'x',
						enabled: true,
						autoScaleYaxis: true
					},
					toolbar: {
						autoSelected: 'zoom'
					}
				},
				dataLabels: {
					enabled: false
				},
				noData: {
					text: 'Please first search for some currencies...',
					style: {
						fontSize: '14px',
						fontFamily: 'Roboto'
					}
				},
				markers: {
					size: 0
				},
				title: {
					text: 'Change in 7 Days ',
					align: 'left'
				},
				fill: {
					type: 'gradient',
					gradient: {
						shadeIntensity: 1,
						inverseColors: false,
						opacityFrom: 0.5,
						opacityTo: 0,
						stops: [0, 90, 100]
					}
				},
				yaxis: {
					labels: {
						formatter: function (val) {
							return Math.round(val * 100) / 100
						}
					},
					title: {
						text: this.$props.currency.toUpperCase()
					}
				},
				xaxis: {
					type: 'datetime',
					title: {
						text: 'Date',
						offsetY: 15
					}
				},
				tooltip: {
					shared: false,
					y: {
						formatter: function (val) {
							return Math.round(val * 100000) / 100000
						}
					}
				}
			}
		}
	},

	// Watch wurde schon im Ticker.vue erklärt wie diese funktioniert haben wir hier gelernt: https://stackoverflow.com/questions/44584292/how-to-listen-for-props-changes
	watch: {
		coinDataArray: function (newVal, oldVal) { // überprüfe auf Änderungen des Arrays
			if (this.coinDataArray.length > 0) { // Sorgt dafür dass erstes Element, was automatisch übergeben wird (welches keine Daten enthält nicht benutzt wird. Ansonsten Error reading data)
				this.$data.series = []
				for (let i = 0; i < this.$props.coinDataArray.length; i++) {
					this.$data.series.push(ApexChartDataHelper.prepareData(this.coinDataArray[i].sparkline_7d.price, this.coinDataArray[i].name))
				}
			}
		}
	}

}

</script>
