<!-- Diese Komponente dient als Wrapper für alle Listeneinträge. Es wird ein Array an informationen übergeben.
Die Elemete des Arrays werden an weitere Unterkomponenten übergeben. -->

<template>
	<div v-if="!isListReady" class="progress">
		<div class="indeterminate"/>
	</div>
	<div v-else-if="list.length === 0" class="center">Whoops... Seems like the list is empty. Add some coins.</div>
	<div v-else class="coin-list-wrapper">
		<li class="collection highlight">
			<CoinListEntry v-for="entry of list" :key="entry.name+'-entry'" :entry="entry" :currency="currentCurrency"/>
		</li>
		<div id="modal-wrapper">
			<CoinListModal v-for="entry of list" :key="entry.name+'-modal'" :entry="entry" :currency="currentCurrency"/>
		</div>
	</div>
</template>

<script>
import CoinListEntry from './CoinListEntry.vue'
import CoinListModal from './CoinListModal.vue'

export default {
	name: 'CoinList',
	props: {
		currentCurrency: String,
		list: Array,
		isListReady: Boolean
	},
	components: {
		CoinListEntry,
		CoinListModal
	},
	mounted: function () {
	},
	methods: {

	}

}
</script>
