<template>
	<li class='collection-item avatar' :id="entry.symbol+'-entry'" >
		<div class="left">
			<img :src="entry.imageFilePath" v-if="typeof entry.imageFilePath === 'string' && entry.imageFilePath != 'missing_small.png'" class="circle">
			<i v-else class="material-icons circle">toll</i>
			<span class="title"><b>{{entry.name}}</b> at {{entry.priceChange.current}} {{currency.toUpperCase()}}</span>
			<p v-bind:class="getColorClassesByValue(entry.priceChange.change24hPercentage)">
				<span v-if="typeof entry.priceChange.change24h !== 'number'">No Price Change Data</span>
				<span v-else >{{returnPlusIfPositive(entry.priceChange.change24h)}} {{Math.round(10000000*entry.priceChange.change24h) / 10000000}} {{currency.toUpperCase()}} </span>
				&nbsp;&nbsp;/&nbsp;&nbsp;
				<span v-if="typeof entry.priceChange.change24hPercentage !== 'number'"></span>
				<span v-else>{{returnPlusIfPositive(entry.priceChange.change24hPercentage)}} {{Math.round(1000*entry.priceChange.change24hPercentage)/1000}} % </span>
			</p>
		</div>
		<div class="right">
			<a class="btn waves-effect waves-light" v-on:click="openModal(entry.symbol+'-modal')"><i class="material-icons black-text left" >unfold_more</i>More info</a>
			<a class="btn waves-effect waves-light red darken-4" style="margin-left: 10px;" v-on:click="removeEntry(entry.name)"><i class="material-icons red-text left">close</i>Remove</a>
		</div>
	</li>
</template>

<script>
import M from 'materialize-css'
import ColorHelper from '../definitions/numberAndClassesHelper'

export default {
	name: 'CoinListEntry',
	props: {
		entry: Object,
		currency: String
	},
	methods: {
		/**
		 * @param value {number}
		 * @returns {String}
		 */
		getColorClassesByValue: ColorHelper.getColorClassesByValue,
		returnPlusIfPositive: ColorHelper.returnPlusIfPositive,
		openModal: function (element) {
			M.Modal.getInstance(document.getElementById(element)).open()
		},
		removeEntry: function (name) {
			this.$parent.$parent.$data.selectedCoins = this.$parent.$parent.$data.selectedCoins.filter(e => e.name !== name)
		}

	}

}
</script>
