<template>
	<div :id="entry.symbol+'-modal'" class="modal bottom-sheet">
		<div class="modal-content">
			<div class="cointainer">
				<div class="row">
					<div class="col s10">
						<img class="circle left modal-heading-icon" :src="entry.imageFilePath" style="margin-top: -4px;">
						<h4 class=""> {{entry.name}} | <span class="black-text text-lighten-3"> {{entry.symbol.toUpperCase()}}</span></h4>
					</div>
					<div class="col s2 right-align">
						<a href="#!" class="btn-floating modal-close waves-effect waves-light red lighten-1"><i class="material-icons">close</i></a>
					</div>
				</div>
				<div class="divider"/>
				<div class="row">
					<div class="col s12 m6">
						<table>
							<tr v-if="typeof entry.priceChange.current === 'number'">
								<td> Current Value </td>
								<td> {{entry.priceChange.current}} {{this.$parent.$parent.$data.currency.toUpperCase()}} </td>
							</tr>
							<tr v-if="typeof entry.priceChange.change24h === 'number'">
								<td> Change over the last 24h </td>
								<td :class="getColorClassesByValue(entry.priceChange.change24h)">{{returnPlusIfPositive(entry.priceChange.change24h)}} {{entry.priceChange.change24h}} {{this.$parent.$parent.$data.currency.toUpperCase()}}</td>
							</tr>
							<tr v-if="typeof entry.priceChange.change24hPercentage === 'number'">
								<td> Change over the last 24h </td>
								<td :class="getColorClassesByValue(entry.priceChange.change24hPercentage)">{{returnPlusIfPositive(entry.priceChange.change24hPercentage)}} {{entry.priceChange.change24hPercentage}} %</td>
							</tr>
							<tr v-if="typeof entry.priceChange.change7dPercentage === 'number'">
								<td> Change over the last 7 Days </td>
								<td :class="getColorClassesByValue(entry.priceChange.change7dPercentage)">{{returnPlusIfPositive(entry.priceChange.change7dPercentage)}} {{entry.priceChange.change7dPercentage}} %</td>
							</tr>
							<tr v-if="typeof entry.priceChange.change14dPercentage === 'number'">
								<td> Change over the last 2 Weeks </td>
								<td :class="getColorClassesByValue(entry.priceChange.change14dPercentage)">{{returnPlusIfPositive(entry.priceChange.change14dPercentage)}} {{entry.priceChange.change14dPercentage}} %</td>
							</tr>
							<tr v-if="typeof entry.priceChange.change30dPercentage === 'number'">
								<td> Change over the last Month </td>
								<td :class="getColorClassesByValue(entry.priceChange.change30dPercentage)">{{returnPlusIfPositive(entry.priceChange.change30dPercentage)}} {{entry.priceChange.change30dPercentage}} %</td>
							</tr>
						</table>
					</div>
					<div class="col s12 m6">
						<p class="grey-text" v-html="entry.description"></p>
					</div>
				</div>

			</div>
		</div>
		<div class="modal-footer">
		</div>
	</div>
</template>

<script>
import M from 'materialize-css'

export default {
	name: 'CoinListModal',
	props: {
		entry: Object
	},
	mounted: function () {
		const element = document.getElementById(this.entry.symbol + '-modal')
		M.Modal.init(element, {})
	},
	methods: {
		/**
		 * @param value {number}
		 * @returns {String}
		 */
		getColorClassesByValue: function (value) {
			if (typeof value !== 'number') {
				return 'grey-text text-lighten-1'
			}
			if (value === 0) {
				return ''
			}
			if (value > 0) {
				return 'green-text text-darken-3'
			}
			if (value < 0) {
				return 'red-text text-darken-3'
			}
		},
		returnPlusIfPositive: function (num) {
			return (num > 0) ? '+' : ''
		}

	}

}
</script>
<style scoped>
.bottom-sheet.modal{
	max-height: 80% !important;
}
.modal-heading-icon{
	margin-top: -3px;
	padding-right: 10px;
}
</style>
