<!--
  Läd bei initialisierung alle verfügbaren Coin-Typen runter. Diese werden dann für Autofill verwendet.
  Danach können neue Eintrage durch die Suche zur Ausgewählten Liste hinzugefügt werden. Die Liste
  und der Graph verwendet diese dann. -->
<template>
	<div class="row">
		<div class="input-field col s12 m9" v-if="loaded">
			<i class="material-icons prefix">toll</i>
			<input placeholder="Add Coin" type="text" id="coinaddinput" class="autocomplete">
		</div>
		<div v-else class="progress">
		<div class="indeterminate"/>
	</div>
		<div class="input-field col s12 m3">
			<select id="currencyselect" v-model="selectedCurrency" @change="currencyChange()" >
				<option value="usd" selected> USD </option>
				<option value="eur"> Euro </option>
				<option value="rub"> Ruble </option>
			</select>
		</div>
	</div>

</template>
<script>
import Axios from 'axios'
import M from 'materialize-css'
/**
	@param data {Response}
	@returns {void}
*/
const generateAutofillMappings = function (data) {
	const mappings = {
		data: [],
		nameToIndex: {},
		symbolToIndex: {}
	}
	data.forEach((entry, index) => {
		mappings.data.push(entry)
		mappings.nameToIndex[entry.name.toLowerCase()] = mappings.symbolToIndex[entry.symbol.toLowerCase()] = index
	})
	return mappings
}

const generateAutofillMaterialize = function (mappings, selectedCoins) {
	const coinNames = []
	selectedCoins.forEach(e => coinNames.push(e.symbol))
	var returnObject = {}
	var keys = Object.keys(mappings.symbolToIndex)

	for (let i = 0; i < keys.length; i++) {
		var key = keys[i]

		if (!coinNames.includes(key)) {
			var indexInData = mappings.symbolToIndex[key]
			if (typeof indexInData !== 'number') {
				console.error(key)
				break
			}
			returnObject[mappings.data[indexInData].name] = null
		} else {
		}
	}

	return returnObject
}

export default {
	name: 'Searchbar',
	props: {
		selectedCoins: Array
	},
	mounted: function () {
		Axios.get('https://api.coingecko.com/api/v3/coins/list')
			.then((response) => generateAutofillMappings(response.data), (err) => console.error(err))
			.then((mappings) => { this.$data.mappings = mappings; this.$data.loaded = true })
			.then(() => {
				M.FormSelect.init(document.querySelectorAll('select#currencyselect'), {})

				M.Autocomplete.init(
					document.querySelectorAll('#coinaddinput'),
					{
						data: generateAutofillMaterialize(this.$data.mappings, []),
						minLength: 2,
						onAutocomplete: (input) => {
							var coin = this.$data.mappings.data[this.$data.mappings.nameToIndex[input.toLowerCase()]]

							this.$parent.$data.selectedCoins.push(coin)
							this.$parent.updateData()
							document.getElementById('coinaddinput').value = ''
						}
					}
				)
				this.$data.materialInstance = M.Autocomplete.getInstance(document.querySelectorAll('#coinaddinput')[0])
			})
			.then(() => { this.$data.materialInstance.updateData(generateAutofillMaterialize(this.$data.mappings, this.$props.selectedCoins)) })
			.then(() => this.$parent.updateData())
	},
	data: function () {
		return { mappings: {}, selectedCurrency: 'usd', loaded: false, materialInstance: null }
	},
	methods: {
		currencyChange: function () {
			this.$parent.$data.currency = this.$data.selectedCurrency
			this.$parent.updateData()
		}
	},
	watch: {
		selectedCoins: function (newval) {
			var newAutoFillData = generateAutofillMaterialize(this.$data.mappings, this.$props.selectedCoins)
			this.$data.materialInstance.updateData(newAutoFillData)
		}
	}

}

</script>
