<template>
<!-- Slideshow "Materialized Carousel" dient uns hierbei als Ticker der top Cryptowährungen als Hauptinfo.
Diese werden oben angezeigt und der Slider wird alle 10 Sekunden neu gewischt, um die ingesamt 3 Slides anzuzeigen -->
<div :id="'ticker-'+id" class="carousel carousel-slider center grey darken-4 white-text">
	<div class="carousel-item row" >
		<div class="col s12">
			<li class="col s3 collection-item avatar" v-for="(entry, index) in cuttedCurrencies[0]" v-bind:key="index">
				<img class="circle currency-images left col" :src="entry.image">
				<div class="left-align ticker-entry-content col">
					<span class="title"><b>#{{entry.market_cap_rank}} {{entry.name}}</b> @ {{entry.current_price}} {{currentCurrency.toUpperCase()}}</span><br>24h Change: <span :class="getColorClassesByValue(entry.price_change_percentage_24h)">{{returnPlusIfPositive(entry.price_change_percentage_24h)}}{{entry.price_change_percentage_24h}}%</span>
					<p>
						<span :class="getColorClassesByValue(1)">{{entry.high_24h}} {{currentCurrency.toUpperCase()}}</span>
						/
						<span :class="getColorClassesByValue(-1)">{{entry.low_24h}} {{currentCurrency.toUpperCase()}}</span>
					</p>
				</div>
			</li>
		</div>
	</div>
	<div class="carousel-item row">
		<div class="col s12">
				<li class="col s3 collection-item avatar" v-for="(entry, index) in cuttedCurrencies[1]" v-bind:key="index">
					<img class="circle currency-images left col" :src="entry.image">
					<div class="left-align ticker-entry-content col">
						<span class="title"><b>#{{entry.market_cap_rank}} {{entry.name}}</b> @ {{entry.current_price}} {{currentCurrency.toUpperCase()}}</span><br>24h Change: <span :class="getColorClassesByValue(entry.price_change_percentage_24h)">{{returnPlusIfPositive(entry.price_change_percentage_24h)}}{{entry.price_change_percentage_24h}}%</span>
						<p>
							<span :class="getColorClassesByValue(1)">{{entry.high_24h}} {{currentCurrency.toUpperCase()}}</span>
							/
							<span :class="getColorClassesByValue(-1)">{{entry.low_24h}} {{currentCurrency.toUpperCase()}}</span>
						</p>
					</div>
				</li>
			</div>
	</div>

	<div class="carousel-item row">
		<div class="col s12">
				<li class="col s3 collection-item avatar" v-for="(entry, index) in cuttedCurrencies[2]" v-bind:key="index">
					<img class="circle currency-images left col" :src="entry.image">
					<div class="left-align ticker-entry-content col">
						<span class="title"><b>#{{entry.market_cap_rank}} {{entry.name}}</b> @ {{entry.current_price}} {{currentCurrency.toUpperCase()}}</span><br>24h Change: <span :class="getColorClassesByValue(entry.price_change_percentage_24h)">{{returnPlusIfPositive(entry.price_change_percentage_24h)}}{{entry.price_change_percentage_24h}}%</span>
						<p>
							<span :class="getColorClassesByValue(1)">{{entry.high_24h}} {{currentCurrency.toUpperCase()}}</span>
							/
							<span :class="getColorClassesByValue(-1)">{{entry.low_24h}} {{currentCurrency.toUpperCase()}}</span>
						</p>
					</div>
				</li>
			</div>
	</div>
</div>

</template>

<script>
import Axios from 'axios'
import M from 'materialize-css'
import ColorHelper from '../definitions/numberAndClassesHelper'

let id = 0
function getNextId () {
	return ++id
}

export default {
	name: 'Ticker',
	props: {
		currentCurrency: String
	},

	mounted: function () {
		Axios.get('https://api.coingecko.com/api/v3/coins/markets?vs_currency=' + this.currentCurrency + '&order=market_cap_desc&per_page=100&page=1&sparkline=false')
			.then(response => {
				this.giveCallback(response.data)
				/*
				* Die nachfolgend erstellte "Ticker (Slideshow)" wird mit Hilfe Materialize erstellt.
				* Link hierzu: https://materializecss.com/carousel.html
				* Hierbei können nicht nur Bilder zum Slide dienen, sondern in unserem Fall auch Items.
				*/
				var elems = document.querySelector('#ticker-' + this.$data.id)
				this.$data.carouselInstance = M.Carousel.init(elems, {
					indicators: true,
					fullWidth: true,
					duration: 700
				})
				this.$data.interval = window.setInterval(this.next, 10000)
			})
	},
	methods: {
		next: function () {
			if (this.$data.carouselInstance == null) {
				return
			}
			this.$data.carouselInstance.next()
		},
		getColorClassesByValue: ColorHelper.getColorClassesByValue,
		returnPlusIfPositive: ColorHelper.returnPlusIfPositive,

		giveCallback: function (dataArray) {
			this.$data.cuttedCurrencies = []
			var listCurrencies = []
			dataArray.forEach(el => listCurrencies.push(el))
			while (listCurrencies.length > 0) {
				this.$data.cuttedCurrencies.push(listCurrencies.splice(0, 4))
			}
		}

	},

	data: function () {
		return { cuttedCurrencies: [], isAutoMoveOn: true, interval: null, carouselInstance: null, id: getNextId() }
	},

	/*
	* Die Methode watch von .vue schaut, ob sich ein gewisser Property geändert hat. Hierzu muss das Property zuerst genannt werden.
	* Siehe (nachfolgend) - Link hierzu welchen wir benutzt haben um uns zu informieren ist : https://stackoverflow.com/questions/44584292/how-to-listen-for-props-changes
	*/
	watch: {
		currentCurrency: function (newVal, oldVal) { // überprüfe auf Änderungen der Währung (EUR / USD / RUB)
			Axios.get('https://api.coingecko.com/api/v3/coins/markets?vs_currency=' + this.currentCurrency + '&order=market_cap_desc&per_page=100&page=1&sparkline=false')
				.then(response => {
					this.giveCallback(response.data)
				})
		},

		isAutoMoveOn: function (val) {
			if (this.$data.interval == null) {
				this.isAutoMoveOn = false
				return
			}
			if (!val) {
				window.clearInterval(this.$data.interval)
				this.isAutoMoveOn = false
			} else {
				this.$data.interval = window.setInterval(this.next, 10000)
				this.isAutoMoveOn = true
			}
		}
	}

}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.carousel.carousel.carousel-slider {
  height: 17vh !important;
}

.collection-item{
	margin-top: 2vh;
}

.row .col {
    float: none;
}

.ticker-entry-content p,
.ticker-entry-content span,
.ticker-entry-content
{
  margin-bottom: 1vh;
	font-size: 1.6vh;
	line-height: 2vh;
}

.currency-images {
	width: auto;
	height: 8vh;
}

.white-text {
	position: relative;
	top: 20%;
}

li {
  display: inline-block;
}
</style>
